@import "tailwindcss";
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,600,700&display=swap');

@theme {
  --font-sans: "General Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-900: #1e3a8a;

  --color-dark: #0f172a;
  --color-dark-surface: #1e293b;
}

@layer base {
  body {
    @apply bg-dark text-slate-50 font-sans antialiased selection:bg-brand-500/30;
  }
}

@layer utilities {
  .glass {
    @apply bg-dark-surface/60 backdrop-blur-xl border border-white/10 shadow-2xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-100 to-brand-500;
  }

  .bg-grid-white {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='white'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  }
}